*{
    margin: 0;
    padding: 0;

}

.main{
    height: 750px;
    background: rgb(224, 224, 63);
}
.nav {
    background: linear-gradient(180deg,black,grey);
    height: 100px;
    z-index: 999;
    position: fixed;
    width: 100%;
}
.nav ul{
    float: right;
    list-style: none;
}
.nav ul li{
    color: white;
    display: inline-block;
    margin-top: 30px;
    margin-right: 80px;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav .logo{
    display: inline;
}
.nav .logo img{
    height: 90px;
    margin-left: 35px;
    margin-top: 5px;
}
.main .x .side-bar{
    position: absolute;
    background-color: black;
    width: 50px;
    height: 70px;
    margin-top: 250px;
    float: left;
    position: fixed;
    border-radius:0% 30% 30% 0;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.main .side-bar img{
   /* background: url('../images/iconfinder_search_326690.png');*/
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 15px;
    display: inline-block;
}
.main .banner{
    background:url('../images/banner.jpg');
    height: 700px;
    clip-path: circle(60% at 50% 0%);
    background-size: cover;
}
.main .mid{
    overflow: hidden;
}
.main .mid-section{
    display: flex;
    width: 100%;
    margin-left:200px;
    margin-top: 10px;
}
 .main .mid-card{
    height: 200px;
    background: #fff url('../images/tennisacademy.jpg') no-repeat;
    padding-right: 10px;
    border: 2px solid rgb(222, 236, 22);
    width: 250px;
    background-size:100%;
    height: 200px;
    margin-right: 50px;
    background-position: center;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
}
.main .about-us .about-us{
    margin-left: 44%;
    margin-top: 20px;
    font-size: 25px;
}
.main .ourtabletime{
    width:80%;
    min-height: 200px;
    height: auto;
    margin: auto;
}
.main .ourtabletime table{
    width:100%;
    height: auto;
    border-collapse: collapse;
}
.ourtabletime table tr{
    padding: 15px;

}
.ourtabletime table tr:nth-child(even){
    background: rgba(0,0,0,.2);
}
.ourtabletime table tr td{
    border:1px solid #000;
    border-style: hidden;
    padding: 10px;
    text-align: center;
}
.main .about-txt-main{
    display: flex;
    margin-left:100px;
    margin-top: 20px;
    width: 80%;
}
.main .about-txt-main .about-txt{
    width: 80%;
}
.main .about-txt-main .about-txt p{
font-size: 20px;
}
.main .about-txt-main .about-txt p{
    margin-left: 30px;
    margin-top: 20px;
    width: 80%;
}
.main .mid .mid-section .latest-card{
    height: 200px;
    background: #fff url('../images/n1.jpg') no-repeat;
    padding: 10px;
    border: 2px solid rgb(247, 247, 101);
    width: 300px;
    background-size:100%;
    height: 320px;
    margin-right: 50px;
}

.main .mid .mid-section .latest-card h4{
    margin-top: 230px;
}
.main .videos{
    background: none;
    width: 80%;
    margin:20px 0 0 150px;
    display: flex;
    background: rgb(247, 247, 101);

}
.main .videos img{
    padding: 10px;
}
.main .videos iframe{
    margin-top: 10px;
}

.main .footer .map iframe{
    width: 100%;
    margin-top: 20px;
}
.register{
    width:80%;
    height: 450px;
    margin: 80px 0 80px 200px;
}